<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
		<listeners>
		<listener class-name="utility.listners"></listener>
		<listener class-name="Analyzer.Mytransform"></listener>
	</listeners>
	
 <test thread-count="5" name="Test">
    <classes>
      <class name="Test_deathWithdrawal.Test_Trial_Withdrawal"/>
       <class name="Test_deathWithdrawal.Test_DW_GS_20_80"/>
         <class name="Test_deathWithdrawal.Test_DW_Group_Non_Gov_Execution"/>
         
          <!--class name="Test_TTS_Withdrawal.Welcome_Test"/-->
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

